@import url('https://fonts.cdnfonts.com/css/blanka');
.search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 4px;
    width: 400px;
}

/* Style the search input */
.search-input {
    border: none;
    width: 100%;
    padding: 12px;
    outline: none;
    background: transparent;
}

/* Style the search icon button */
.search-button {
    background: #E87E6A;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
}
body{
    background-color: #e1e9f8;
}
.logo{
    width: 100px;
    height: 100px;
}

input{
    height: 50px;
    width: 120%;
    background-color: #e1e9f8;
    font-size: 18px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #E87E6A;
    border-radius: 50px;

}
.titles{
    font-size: 90px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#E87E6A;
}
.backgrounds{
    align-items:flex-end;
}
.button_s{
     width: 100px;
}
.st1{
    height:300px;
    width:fit-content;
}
.st3{
    height:300px;
    padding-left:10rem;

}
.st4{
    height:300px;
    width:fit-content;
    padding-left:4.4rem;
}

.st2{
    height:300px;
    width: fit-content;
    margin-left:8rem;
}

